@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hamburger-menu {
  top: 80px;
  max-height: 0px;
  left: 0;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  will-change: max-height;
  transition: 1s max-height;
}

.hamburger-menu.active {
  max-height: 100px;
  transition: 1s max-height;
}
